body {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	background-color:black;
}
h1,h2,h3,h4,div,span {
    font-family:'Arial';
}
h2{
    font-size:24px;
    color:white;
    text-align:center;
}
#statistics,#navigation {	
	position:fixed; 
	top:25px;
	left:30px;
	width:115px;
	height:75px;	
	background-color:#8CB56B; 
	z-index:100;
}
#statistics,#navigation,.coin_title {
	padding:5px;
	font-family:'Arial';
}
#statistics,#navigation,.coin_title,.coin,#coin_window {
	color:white;
	-webkit-box-shadow: 10px 10px 5px 0px rgba(155,155,155,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(155,155,155,0.75);
	box-shadow: 10px 10px 5px 0px rgba(155,155,155,0.75);
}
.coin_title,.coin {
	background-color:rgba(140,181,107,0.7);
}
#coin_window {
	background-color:rgba(140,181,107,0.9);
}
.coin {
	position:fixed;
}
.coin_title {
	width:500px;
	height:50px;
	text-align:center;
}
.coin_list {
	min-height:55px;
}
#coin_window {
	z-index:1000;	
	padding:10px;
}
.coin_list_img,.coin_list_title {
	float:left;
}
.coin_window_list {
	height:50px;
	width:100%;
	border:solid,white,1px;
}
.coin_list_title {
	font-family:'Arial';
	color:white;
	margin-left:10px;
	margin-top:15px;
}
.coin_list_img {
	width:50px;
	height:50px;
}
#input_layer {
	position:absolute;
	top:0;
	left:0;
	z-index:99;
}
#web_console {
	position:fixed; 
	top:150px;
	left:30px;
	width:300px;
	height:200px;	
	background-color:#8CB56B; 
	z-index:100;
	overflow-y:scroll
}
#coin_rotation_window {
	background-color:rgba(140,181,107,0.8);
        perspective: 1000px;
}
#rotation_container {
    position:relative;
}
